.app-container {
  background: #222;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header playlist'
    'video playlist';
  height: 100vh;
}

.toolbar {
  grid-area: header;
  padding: 0.5rem;
  color: white;
}

app-video-player {
  grid-area: video;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

app-playlist {
  grid-area: playlist;
  color: #eee;
  overflow-y: auto;
}
