<div class="playlist-container" role="list" aria-label="Video playlist">
  <h3 class="playlist-title">Playlist</h3>
  @if(error) {
  <div class="error">{{ error }}</div>
  } @else {
  <ul class="playlist">
    @for(video of playlist$ | async; track video.id; let i = $index) {
    <li
      class="playlist-item"
      [class.active]="i === currentIndex"
      (click)="selectVideoIndex(i)"
      #videoItem
      tabindex="0"
      role="listitem"
      aria-current="{{ i === currentIndex ? 'true' : 'false' }}"
      aria-pressed="{{ i === currentIndex }}"
    >
      <div class="title">{{ video.title }}</div>
      <div class="progress-bar" aria-label="Video progress">
        <div class="progress-fill" [style.width.%]="video.progress"></div>
      </div>

      <div class="watched-icon" title="Watched" aria-label="Watched">
        @if (video.watched) {✔}
      </div>
    </li>
    }
  </ul>
  }
</div>
